#checkboxes {
  position: relative;
  float: left;
}
.checkbox-size {
  width: 18.2px;
  height: 18.2px;
  margin-top: 8.9px;
  margin-bottom: 8.9px;
  margin-left: 0;
  margin-right: 0;
}
#player-names {
  position: relative;
  float: left;
  left: 20px;
}
.players {
  margin-top: 7px;
  margin-bottom: 7px;
}
#player-numbers {
  position: relative;
  float: left;
  left: 10px;
  text-align: center;
  font-size: 17px;
  line-height: 36px;
  margin: 0;
}
#watchlist {
  display: none;
  position: absolute;
  top: 100px;
  left: 760px;
  margin: 0;
}
th, td {
  border: solid 1px black;
}
#buttons {
  position: relative;
  width: 175px;
  float: left;
  left: 30px;
}
#randomize-player-names {
  margin-top: 7px;
  margin-bottom: 7px;
}
#reset-player-names {
  margin-top: 7px;
  margin-bottom: 7px;
}
#submit-player-names {
  margin-top: 7px;
  margin-bottom: 7px;
}
#restart-game {
  display: none;
  position: absolute;
}
#number-of-players-remaining {
  position: absolute;
  top: 100px;
  left: 200px;
  margin: 0;
}
#dead-player {
  position: absolute;
  top: 100px;
  left: 300px;
  margin: 0;
}
#standings {
  display: none;
  position: absolute;
  top: 100px;
  left: 760px;
  margin: 0;
}
th, td {
  border: solid 1px black;
}